body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.wp-container {
  width: 100%;

  .modal-content {
    background: none;
    border: none;
  }
}

.header {
  width: 100%;
  height: 120px;
  position: relative;
  border-bottom: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    padding-top: 30px;

    .logo {
      width: 185px;
      height: 90px;
      cursor: pointer;
    }

    .menu-content-active {
      background: #b2d235;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .menu-content {
      list-style: none;
      display: flex;
      margin-bottom: 20px;
      min-width: 300px;

      li {
        padding: 8px 20px;
        border-radius: 17px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: #b2d235;

          a {
            color: #feffff;
          }
        }
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        color: $color-menu;
      }

      .icon-auth {
        padding-right: 8px;
      }

      .text-auth {
        border-radius: 20px;
        background: #b2d235;
        border: none;
      }

      .link-allcourse {
        color: #fff;
      }
    }
  }

  .toggle-nav {
    font-size: 18px;
    line-height: 23px;
    display: none;
  }
}

@media screen and (max-width: 812px) {
  .header {
    .nav-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 8px;

      .logo {
        padding-top: 10px;
        width: 240px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .nav-bar {
      .logo {
        width: 220px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    height: 62px;

    .toggle-nav {
      position: absolute;
      display: block;
      top: 15px;
      left: 20px;
    }

    .nav-bar {
      padding: 0;
      position: relative;

      .logo {
        width: 150px;
        height: 27px;
      }

      img {
        width: 100%;
      }

      .menu-content {
        width: 100%;
        position: absolute;
        margin-top: 113vh;
        display: block;
        padding: 0;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        left: -100%;
        height: 100vh;
        background: $background-toggle;
        transition: all 0.6s;
        z-index: 1;
      }

      .show {
        left: 0%;
      }

      .menu-content li {
        margin-bottom: 10px;
        padding: 15px 0;
      }
    }
  }
}
