@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
$color-menu: #505353;
$background-menu: #b2d235;
$background-toggle: #ffffff;
$color-special: #11114e;
$color-span: #505353;
$color-btn: #b2d235;
$color-hover: #c1dd50;
$text-color-btn: #ffffff;
$list-course-bg-html: #3f6185;
$list-course-bg-laravel: #dc594c;
$list-course-bg-php: #556598;
$card-text-title: #b2d235;
$btn-text-course: #ffff;
$list-course-bg-css: #24abe2;
$list-course-bg-ruby: #e14e40;
$list-course-bg-java: #1b75bb;
$color-title: #ffffff;
$color-title-course: #90ab26;
$statistic-color-title: #11114e;
$statistic-color-border: #b2d235;
$border-form-main: #3333;
$form-header-border: #b2d235;
$form-header-bg-input: #f2f2f2;
$form-text-normal: #fff;
$login-diff-bg: #dbdbdb;
$btn-sm-box: #6f8710;
$login-google-bg: #dc4e41;
$login-facebook-bg: #3b5999;
$banner-second-btn-text: #90ab26;
$banner-second-content: #ffff;
$feed-back-border-bottom: #b2d235;
$feed-back-header-title-color: #11114e;
$feed-back-header-content-color: #505353;
$feed-back-up-bg: #ffffff;
$feed-back-up-border: #e2e2e2;
$feed-back-borde-bg: #d9dadc;
$feed-back-star: #f2c54f;
$form-header-xmark-color: #b2d235;
$content-message-bg: #ffffff;
$content-message-title-color: #7f7f7f;
$content-message-chat-bg: #f1f0f0;
$content-message-chat-color: #505353;
$content-message-login-bg: #3184f7;
$content-message-footer-color: #b3b3b3;
$cart-btn-box-shadow: #6f8710;
$title-other-course-color: #11114e;
$why-hapo-nav-content-color: #ffff;
$footer-main: #505353;
$footer-down: #454545;
$footer-left-content-color: #ffffff;
